[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This repo contains the source code for the MLH Localhost workshop, How to Collaborate on Code Projects with GitHub.
[access "refs/*"]
	owner = group user/KingJoris
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/KingJoris
	label-Verified = -1..+1 group user/KingJoris
	push = group user/KingJoris
	read = group user/KingJoris
	rebase = group user/KingJoris
	removeReviewer = group user/KingJoris
	submit = group user/KingJoris
[access "refs/heads/*"]
	create = group user/KingJoris
	push = +force group user/KingJoris
	pushMerge = group user/KingJoris
	read = group user/KingJoris
[access "refs/tags/*"]
	push = group user/KingJoris
	push = +force group user/KingJoris
